.writer-img {
    margin-top: 30px;
    margin-left: 30px;


}


.content {
    background: linear-gradient(to top, #0d3557, #071227);
    justify-content: center;
    align-items: center;
    max-width:550px;
    margin-left: 380px;
}
.byline {
    color: gray;
    padding-top: 40px;
    margin-left: 100px;
}

.head1 {
    margin-left: 30px;
    margin-right: 30px;
    text-align: center;
    color: white;
}

.head2 {
    margin-left: 30px;
    color: gray;
    margin-right: 30px;
}

.text1 {
    margin-left: 30px;
    margin-right: 30px;
    font: 11pt sans-serif;  
    color: white;
}

.text2 {
    margin-left: 30px;
    margin-right: 30px;
    font: 11pt sans-serif;  
    color: white;
}

.text3 {
    margin-left: 30px;
    margin-right: 30px;
    font: 11pt sans-serif;  
    color: white;
}
.image {
    position: absolute;
    margin-top: -15px;
    background-image: url(images/soccer.jpeg);
    width: 550px;
    height: 450px;
    background-position: center;
    margin-left: 380px;
}

.caption {
    position: absolute;
    background-color: white;
    padding: 5px;
    font-weight: bold;
    font-style: italic;
    vertical-align:center; 
    width: 400px;
    height: 45px;
    margin-left: 20px;
    margin-block-start: 385px;
}